/*mobile device*/
@media screen and (max-width: 768px) {
    h2{
        margin: auto;
    }
    footer{
        display: flex;
        flex-flow: column;
    }
    section{
        display: flex;
        flex-flow: column;
    }
 }
/*Dark mode*/
body.dark-theme{
    background-color: #292A2D;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0;
    display: flex;
    flex-flow: column wrap;
    min-height: 100vh;
}
a{
    text-decoration: none;
    color: black;
}
h2{
    margin: 40px auto;
    font-size: 35px;
}
/*header*/
header{
    display: flex;
    align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
    position: fixed;
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: white;
    border-bottom: 1px solid lightgray;
}
.logo1{
    font-size: 20px;
    margin: auto;
    color: black;
}   
.logo2{
    font-size: 25px;
    font-weight: bold;
    margin: auto;
    color: #0716CD;
}
.menu a{
    display: inline-block;
    padding: 0.5em 1.5em;
    font-size: 17px;
}
.menu a:hover{
    color: #0716CD;
}
/*section*/
section{
    flex: 1;
}
/*footer*/
footer{    
    display: flex;
    align-items: center;
    justify-content: space-around;   
    border-top: 1px solid lightgray;
    margin-top: auto;
}
.footer1{
    margin: auto;
}
.footer2{
    display: inline-block;
    justify-content: space-around;
    margin: 10px auto;
}
.footer2 img{
    width: 35px;
    height: 30px;
    margin: auto 10px;
}

/*index.html*/
.main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
    margin-top: 100px;
}
.main img{
    width: 400px;
    height: 500px;
    display: block;
    margin: auto;
    border-radius: 100px;
}
.mainImage{
    width: 50%;
}
.mainText{
    text-align: justify;
    width: 50%;
}

/*about.html*/
.about{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 100px; 
}
.about img{    
    width: 400px;
    height: 500px;
    display: block;
    margin: auto;
    border-radius: 100px;
}
.aboutImage{
    width: 50%; 
    
}
.aboutText{
    width: 40%;
    font-size: 20px; 
    line-height: 35px;
    text-align: justify;    
}

/*history.html*/
.history{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 100px;
}
.historyList{
    height: 500px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 1px lightgray;
    width: 70%;
    margin: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    overflow: auto;
}
.history img{
    width: 450px;
    height: 500px;
    flex: 5;
    border-radius: 10px;
}
.historyText{
    padding: 0 20px;
    flex: 5;
    display: flex;
    flex-direction: column;
    text-align: justify;
}
.historyText1{
    font-size: 20px;
    margin: 0;
}
.historyText2{
    font-size: 35px;
    font-weight: bold;
    margin-top: 15px;
}
.historyText3{
    font-size: 18px;
    line-height: 35px;
}
/*interests.html*/
.interests{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 100px;
}
.interestsList{
    height: 500px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 1px lightgray;
    width: 70%;
    margin: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    overflow: auto;
}
.interestsList img{
    width: 450px;
    height: 500px;
    flex: 5;
    border-radius: 10px;
}
.interestsText{
    padding: 0 20px;
    flex: 5;
    display: flex;
    flex-direction: column;
    text-align: justify;
}
.interestsText1{
    font-size: 35px;
    font-weight: bold;
    margin-top: 15px;
}
.interestsText2{
    font-size: 18px;
    line-height: 35px;
}

/*contact.html*/
.contact{
    margin-top: 100px;
}
.contact1{
    text-align: center;
}
.contact2{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
.contact2-1 p{
    font-size: 20px;
}
.contact2-2 p{
    font-size: 25px;
    font-weight: bold;
    text-align: left;
}
